.companyDashboard {
  display: flex;
  height: 100vh;
  padding: 5rem;

  &__exit {
    display: flex;
    font-size: 3rem;
    color: var(--color-white);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & p {
      font-size: 1.6rem;
    }
  }

  &__navbar {
    border-radius: 3rem 0rem 0rem 3rem;
    background-color: var(--primary-color);
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 3rem 0rem;
    & ul {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      width: 100%;
      gap: 3rem;
      list-style: none;
      font-size: 3rem;
      color: var(--color-white);
      & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
          font-size: 1rem;
        }

        &:hover {
          border-right: 5px solid white;
          cursor: pointer;
        }
      }
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    gap: 10rem;
    border-radius: 0rem 3rem 3rem 0rem;
    background-color: var(--primary-color-light);
    width: 100%;
    padding: 3rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25rem;
    width: 40rem;
    border-radius: 1rem;
    padding: 3rem;
    background-color: var(--primary-color);
    color: white;

    &__icon {
      font-size: 5rem;
    }

    & h1 {
      font-size: 3rem;
    }

    & p {
      font-size: 2rem;
    }
  }
}
