.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 20vh;

  & h1 {
    font-size: 4rem;
  }

  &__action {
    margin-top: 3rem;
  }
  &__links {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    list-style: none;

    & li {
      &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        cursor: pointer;
      }
    }
  }
}
