.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  &__ball1 {
    position: absolute;
    width: 30rem;
    height: 30rem;
    background-color: var(--primary-color);
    top: 10rem;
    left: -10rem;
    border-radius: 30rem;
    filter: blur(30px);

    @media screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__ball2 {
    position: absolute;
    background-color: var(--primary-color);
    height: 40rem;
    width: 40rem;
    bottom: -5rem;
    z-index: -10;
    right: -10rem;
    border-radius: 30rem;
    filter: blur(30px);
    z-index: -10;

    @media screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    & h1 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 7rem;

      @media screen and (max-width: $bp-small) {
        font-size: 4.5rem;
      }

      & span {
        color: var(--primary-color);
      }
      margin-bottom: 5rem;
    }

    & p {
      font-size: 2rem;
      width: 50rem;
      line-height: 3.5rem;
      align-self: center;
      margin-bottom: 5rem;

      @media screen and (max-width: $bp-small) {
        font-size: 1.6rem;
      }
    }
  }
}
