.header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 5rem;
  height: 10rem;
  position: relative;
  &__logo {
    color: var(--primary-color);
    cursor: pointer;

    @media screen and (max-width: $bp-small) {
      display: none;
    }

    & a {
      color: var(--primary-color);
    }
  }

  &__navigation {
    font-size: 1.8rem;
    position: relative;

    &__list {
      list-style: none;
      display: flex;
      gap: 3rem;

      & li {
        position: relative;
        transition: 0.4s width;

        &:hover {
          cursor: pointer;
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2.5px;
          background: var(--primary-color);
          transition: 0.3s width ease-in;
        }
      }

      @media screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5rem;

    &__userInfo {
      display: flex;
      align-items: center;
      gap: 6rem;

      & img {
        outline: 5px solid var(--primary-color-light);
        padding: 0.2rem;
      }
    }

    &--signIn {
      font-size: 2rem;
      background-color: transparent;
      border: none;
      color: var(--primary-color);

      &:hover {
        cursor: pointer;
      }
    }

    &--register {
      padding: 1.5rem 5rem;
      font-size: 2rem;
      color: var(--color-white);
      background-color: var(--primary-color);
      border-radius: 1rem;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: var(--primary-color-light);
      }
    }

    &__username {
      font-size: 2rem;
      position: relative;
      background-color: var(--primary-color-light);
      padding: 1rem 3rem;
      display: flex;
      color: white;
      border-radius: 1rem;
      &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
      }

      &__dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.5rem;
        bottom: -6.5rem;
        border-radius: 1rem;
        left: 0;
        position: absolute;
        z-index: 30;

        &__company {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 0.5rem;
          bottom: -13.2rem;
          border-radius: 1rem;
          right: 0;
          position: absolute;
          z-index: 30;

          &__btn {
            border-radius: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.6rem;
            border: none;
            padding: 2rem;
            height: 100%;
            color: white;
            background-color: var(--primary-color-light);
            &:first-child {
              border-bottom: 1px solid var(--secondary-color);
            }

            &:hover {
              background-color: var(--primary-color);
              cursor: pointer;
            }
          }
        }

        &__btn {
          border-radius: 1rem;
          display: flex;
          align-items: center;
          gap: 3rem;
          font-size: 1.6rem;
          border: none;
          padding: 2rem;
          height: 100%;
          color: white;
          background-color: var(--primary-color-light);
          &:first-child {
            border-bottom: 1px solid var(--secondary-color);
          }

          &:hover {
            background-color: var(--primary-color);
            cursor: pointer;
          }
        }
      }
    }

    & img {
      width: 5rem;
      border-radius: 3rem;

      &:hover {
        cursor: pointer;
      }
    }

    &--createCompany {
      padding: 1rem 2rem;
      background-color: var(--primary-color);
      color: var(--color-white);
      border: none;
      border-radius: 1rem;

      &:hover {
        background-color: var(--primary-color-light);
        cursor: pointer;
        box-shadow: 0.1rem 1rem 3rem 0.3rem var(--secondary-color);
      }
    }
  }

  &__hamburger {
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 2rem;
    display: none;
    &:hover {
      cursor: pointer;
    }

    &--active {
      background-color: var(--primary-color);
      padding: 2rem;
      display: none;
      flex-direction: column;
      gap: 1rem;
      border-radius: 2rem;
      z-index: 1000000;
      position: fixed;
      right: 2rem;

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: $bp-medium) {
        display: flex;
      }
    }

    @media screen and (max-width: $bp-medium) {
      display: flex;
    }
  }

  .line {
    display: flex;
    width: 2.5rem;
    height: 0.2rem;
    background-color: white;
    transition: all 0.3s ease;
  }

  .line1 {
    &.active {
      transform: rotate(45deg) translate(1rem, 0.75rem);
    }
  }

  .line2 {
    &.active {
      opacity: 0;
    }
  }

  .line3 {
    &.active {
      transform: rotate(-45deg) translate(1rem, -0.75rem);
    }
  }

  @media screen and (max-width: $bp-medium) {
    padding: 0rem 2rem;
    &__navigation {
      display: none;
      &__list {
        display: flex;
        justify-content: center;

        &.show {
          height: 100vh;
          display: flex;
          flex-direction: column;
          font-size: 2rem;
          justify-content: center;
          width: 100%;
          align-items: center;
          & li {
            font-size: 3rem;
            color: var(--color-white);

            &:hover {
              cursor: pointer;
              &::after {
                width: 100%;
              }
            }

            &::after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              width: 0;
              height: 2.5px;
              background: var(--color-white);
              transition: 0.3s width ease-in;
            }
          }
        }
      }
    }
    .responsive {
      display: flex;
      position: fixed;
      background-color: var(--primary-color);
      left: 0;
      right: 0;
      top: 0;
      animation: slideLeft 0.5s ease-in-out;
      z-index: 1000;
      overflow-y: hidden;
    }
  }
}
